* {
    margin: 0;
    box-sizing: border-box;
    outline: none;
}



/* Основная информация */

/* Заголовок */
.main-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: deeppink;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Фото */
.photo {
    max-width: 300px; 
    max-height: 300px;
    border-radius: 10px;
}

/* Текст */
.main-info {
    display: inline-block;
    margin-left: 10px;
    margin: 10px;
    vertical-align: top;
    border: deeppink;
    border-style: dashed;
    border-width: 3px;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.label-main-info {
    color: deeppink;
    font-weight: bold;
}

.link-main-info {
    color: deeppink;
}

.link-main-info:visited {
    color: lightseagreen;
}



/* Дата собеседования */

input[type=date] {
    border-radius: 10px;
    border-color: deeppink;
    border-width: 1px;
    padding: 3px;
}

input[type=date]:hover {
    background-color: rgba(32, 178, 171, 0.33);
}

.label-date {
    text-decoration-line: underline;
    text-decoration-color: deeppink;
}

.div-date {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    border-width: 2px;
    border-style: dotted;
    border-color: pink;
    padding: 5px;
    display: inline-block;
}



/* Уровень английского*/

.div-english-level {
    border-radius: 10px;
    border-width: 5px;
    border-style: double;
    border-color: rgba(32, 178, 171, 0.33);
    padding: 10px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.label-radio:hover {
    background-color: pink;
}



/* Список навыков */

li {
    font-family: monospace;
    font-size: 1.2em;
    color: deeppink;
    list-style-type: circle;
}

li:hover {
    font-size: 1.3em;
    color: seagreen;
}

.div-list {
    border-style: solid;
    border-left-color: pink;
    border-right-color: pink;
    border-top: hidden;
    border-bottom: hidden;
    border-width: 10px;
    padding-left: 15px;
    padding-right: 50px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.label-skills {
    color: lightseagreen;
    font-weight: 900;
    font-size: 2rem;
}



/* Стили для текстовых инпутов */

input[type=text]:focus {
    background-color: rgba(255, 192, 203, 0.15);
}

button[type=button] {
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
    color: white;
    background-color: lightseagreen;
}

button[type=button]:hover {
    background-color: seagreen;
}

button[type=button]:active {
    background-color: pink;
}



/* Коммуникабельность */

.label-communication {
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
    color: deeppink;
    font-size: 4ch;
}



/* Просто ховер для селектов */

select:hover {
    border-bottom-color: deeppink;
}



/* Желаемая з/п */

input[type=number] {
    color: seagreen;
    font-weight: bold;
}

input[type=number]:focus {
    border: seagreen;
    border-width: 2px;
    border-style: dotted;
}

.label-salary {
    background-color: rgba(46, 139, 86, 0.15);
}



/* Чекбокс "Подходит по критериям" */

.div-parameter {
    /* border: deeppink;
    border-style: dotted;
    border-width: 5px;
    padding: 3px; */
}

.label-parameter {
    font-weight: bold;
    font-size: 2pc;
    color: deeppink;
    text-decoration-line: overline;
    text-decoration-color: lightseagreen;
}

.label-checkbox > input {
    display: none;
}

.label-checkbox > input:checked + span::before {
    color: lightseagreen;
}

.label-checkbox > span {
    padding-left: 10px;
}

.label-checkbox > span::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 18px;
    border: 1px dotted deeppink;
    border-radius: 3px;
    margin-right: 5px;
    background-color: white;
    transition: all .5s;
    color: deeppink;
}

.label-checkbox > input:checked + span::before {
    /* background-color: lightseagreen; */
    content: "\2764";
    color: pink;
}



/* Таблица "Образование" */

.label-edu {
    border-left: lightseagreen;
    border-style: solid;
    border-width: 15px;
    border-top: hidden;
    border-right: hidden;
    border-bottom: hidden;
    font-size: 7mm;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

th {
    background-color: lightseagreen;
}

tr:nth-child(odd) {
    background-color: pink;
}



/* Кнопка "Отправить" */

.div-submit {
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
}

input[type=submit] {
    width: 200px;
    height: 50px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: deeppink;
    color: white;
    border-radius: 50px;
    border: hidden;
    box-shadow: 5px 5px 10px lightseagreen;
}

input[type=submit]:focus, input[type=submit]:hover {
    transform: translate(0, 5px);
    transition: all .30s;
    background-color: pink;
    color: deeppink;
}
