* {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.main-block {
    width: 800px;
    height: 600px;
    background-color: grey;
}



.main-header {
    height: 70px;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-topic {
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    justify-content: space-between;
}

.header-author-info {
    display: flex;
    flex-flow: row wrap;
    margin-left: 4px;
}

.author-name {
    margin-right: 4px;
}

.author-date-time {
    margin-right: 4px;
    margin-left: 10px;
}

.main-header label {
    font-weight: bold;
    margin-right: 4px;
}

.button-exit {
    background-color: tomato;
    outline: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: hidden;
}

.button-exit:hover {
    background-color: rgba(165, 42, 42, 0.33);
}



.main-container {
    display: flex;
    flex-flow: column;
    overflow: auto;
    height: 530px;
    padding: 4px;
}

.message-block {
    display: flex;
    padding: 4px;
}

.user-info-block {
    display: flex;
    border: 2px solid black;
    border-top: hidden;
    border-left: hidden;
    border-bottom: hidden;
    padding: 4px;
    flex-basis: 150px;
    flex-shrink: 0;
}

.user-photo {
    display: flex;
    background-color: tomato;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 10px;
    flex-basis: 50px;
    flex-shrink: 0;
    justify-content: center;
    font-weight: bold;
}

.user-info {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}

.user-name {
    display: flex;
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: 10px;
}

.user-date-time {
    display: flex;
    flex-wrap: wrap;
}

.message-text-block {
    display: flex;
    flex-flow: column;
    padding: 4px;
}

.message-text {
    display: flex;
    background-color: darkgray;
    border-radius: 10px;
    padding: 4px;
}