.my-select {
    width: 42ch;

    .my-select-head {
        display: flex;
        justify-content: space-between;
    }

    .my-select-selected {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 35ch;
    }

    .my-select-input {
        display: none;
        width: 42ch;
    }

    .my-select-caret-down {
        
    }

    .my-select-caret-up {
        display: none;
    }

    .my-select-options {
        overflow: auto;
        height: 20ch;
    }
    
    .my-select-option {
        display: flex;
        flex-direction: column;

        &:hover {
            background-color: cyan;
        }

        &.selected {
            background-color: crimson;
        }
    }
}